body {
  margin: 0;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.navText {
  color: blue;
}
/*
.imageCell {
  display: inline;
  margin: 10px;
}
*/

.frame {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  /*padding: 20px;*/
  overflow: hidden;
  /* text-align: center; */
}

.frame > .image {
  position: absolute;
  max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.single-photo {
  width: 100%;
}

.AllPhotos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.singleframe {
  position: relative;
  max-width: 100%;
}

.singlepic {
  padding-top: 20px;
  position: absolute;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
